/*! Made with Bones: http://themble.com/bones :) */

/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.

Helpful articles on Sass file organization:
http://thesassway.com/advanced/modular-css-naming-conventions

******************************************************************/

/*********************
IMPORTING PARTIALS
These files are needed at the beginning so that we establish all
our mixins, functions, and variables that we'll be using across
the whole project.
*********************/

// normalize: http://necolas.github.io/normalize.css/
@import "partials/normalize";

// Sass variables
@import "partials/variables";

// typography
@import "partials/typography";

// Sass functions
@import "partials/functions";

// import mixins
@import "partials/mixins";

// the grid
@import "partials/grid";

/*********************
IMPORTING MODULES
Modules are reusable blocks or elements we use throughout the project.
We can break them up as much as we want or just keep them all in one.
I mean, you can do whatever you want. The world is your oyster. Unless
you hate oysters, then the world is your peanut butter & jelly sandwich.
*********************/

// alert boxes
@import "modules/alerts";

// buttons
@import "modules/buttons";

// forms (inputs & labels)
@import "modules/forms";

/*********************
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*********************/

// styles in base.scss
@import "breakpoints/base";

/*********************
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*********************/
@media only screen and (min-width: 481px) {

	// styles in 481up.scss
	@import "breakpoints/481up";

} // end of media query

/*********************
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 768px) {

	// styles in 768up.scss
	@import "breakpoints/768up";

} // end of media query

/*********************
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 1030px) {

	// styles in 1030up.scss
	@import "breakpoints/1030up";

} // end of media query

/*********************
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*********************/
@media only screen and (min-width: 1240px) {

	// styles in 1240up.scss
	@import "breakpoints/1240up";

} // end of media query

/*********************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*********************/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {

	// styles in 2x.scss
	@import "breakpoints/2x";

} // end of media query

/*********************
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*********************/
@media print {

	// styles in print.scss
	@import "partials/print";

}

/*********************
GENERAL STYLES
*********************/

body {
	font-family: europa;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color:  $white;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}


/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/


.nav {
	border-bottom: 0;
	margin: 0;

	li {

		a {
			display: block;
			text-decoration: none;
			padding: 0.75em;
			margin-top: 0.938em;
			color: $white;
			//mix-blend-mode: difference;

			&:hover {
				color:	$white;
				text-decoration: underline;
			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */

/*********************
HEADER STYLES
*********************/

.header {
	height: 300px;
	@media all and (min-width: 1240px) { 
		height: 500px; 
	}
}

.parallax, 
.blog .parallax, 
.page-id-10 .parallax {
	background-attachment: fixed;
}

.home {

	.header {
		background-image: url("http://localhost:8888/dantaylor/wp-content/uploads/2018/02/Welsh_Expo.jpg");
		background-size: cover;
		background-position: center;
		height: 600px;
		border: #4B4846 solid 0.125rem;
	}
	.darken {
		background-image: 
		  linear-gradient(
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
		  ),
		  url("http://localhost:8888/dantaylor/wp-content/uploads/2018/02/Welsh_Expo.jpg");
	  }
}

/*********************
LINK STYLES
*********************/


	a, a:visited {
		color: $white;

		&:hover, &:focus {
			color: $white;
		}
	
		/* on click */
		&:active {
	
		}
	
		/* mobile tap color */
		&:link {
			/*
			this highlights links on iPhones/iPads.
			so it basically works like the :hover selector
			for mobile devices.
			*/
			-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
		}
	}


/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

	.sidebar .widget {
		a, a:visited {
			color: $black;

			&:hover, &:focus {
				color: $black;
			}
		}
	}



/*********************
HOMEPAGE STYLES
*********************/

.home {
	
	.hentry {
		border-radius: 0;
		border: none;

		header {
			padding: 1.5rem 0;
		}
	}

	.d-5of7 {
		max-width: 100%;
		width: 100%;
		float: none;
		padding-right: auto;
		padding-left: auto;

		.entry-content p {
			text-align: center;
			width: 70%;
			margin: 0 auto;
			font-family: europa;
			font-style: normal;
			font-weight: 300;
			font-size: 18px;
			letter-spacing: -.01em;
			line-height: 32px;
		}
	}

	.page-title {
		text-align: center;
		padding: 0.938rem 0;
	}
}

.featured-image-home img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 3em;
	border: 0;
}



.resume-container {
	background: $light-gray;
}

.flex-container {
	margin: 0 auto;
	padding: 0 1rem;

	.cell {

		margin: 1rem;
		align-self: center;
		border: solid 2px $black;
	
		img {
			display: block;
		}
		
		.flex-image {
			max-width: 100%;
		}

	
	  }
}

/*********************
PAGE STYLES
*********************/

body {

	header {
		
		h1.page-title {
			text-shadow: 1px 1px 1px;
			font-weight: 600;
			text-align: center;
		}

		#logo {
			margin-bottom: 0;
		}

		#logo-descr {
			text-align: center;
			margin: 3.125rem auto;

			p {
				margin: 0;
			}
		}
	}

}



// CONTACT PAGE


.page-id-10 {

	
	//background: no-repeat url(http://localhost:8888/dantaylor/wp-content/uploads/2018/02/woodbark2.jpg);

	
	.header {
		background-image: url(http://localhost:8888/dantaylor/wp-content/uploads/2018/02/thumbsup.jpg);
		background-repeat: no-repeat;
		

		#logo {
			margin: 1.250rem;
		}

		#logo-descr {
			mix-blend-mode: difference;
			text-shadow: -1px -1px 0 #000, 
						 1px -1px 0 #000, 
						 -1px 1px 0 #000, 
						 1px 1px 0 #000;
		}

		.page-title {
			text-align: center;
		}

	}

	#inner-content {
		display: flex;
		justify-content: center;
		max-width: 1200px;
	}

	article {
		border-radius: 25px;

		input {
			border-radius: 25px;
		}
	}

	.hentry header {
		
		width: 90%;
		border-bottom: 1px solid black;
		padding: 1.5em;
		margin-left: auto;
		margin-right: auto;
	}


}

// Blog 

body.blog {

		a, a:visited {
			color: $white;
	
			&:hover, &:focus {
				color: $white;
			}
		
			/* on click */
			&:active {
		
			}
		
			/* mobile tap color */
			&:link {
				/*
				this highlights links on iPhones/iPads.
				so it basically works like the :hover selector
				for mobile devices.
				*/
				-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
			}
		}

	header {
		background-image: url(http://localhost:8888/dantaylor/wp-content/uploads/2018/02/leather.jpg);
		background-attachment: fixed;

	}


	.blog-titles {
		background: white;
		margin-left: auto;
		margin-right: auto;
		padding: 5px 0;
		margin-bottom: 10px;
		border-radius: 20px;
		color: $black;

		.big-title {
			text-align: center;
			font-size: 2.8rem;
		}

		.small-title {
			text-align: center;
		}
	}

	.blog-main {
		display: flex;
		position: relative;
		flex-direction: column;

		article {
			flex: 1;
			border: none;
		}

		.article-header {
			text-shadow: 1px 1px 1px;
		}

	}

}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $black;
	color: $light-gray;
}

.nav.footer-nav {

		a {
			color: $light-gray;

			&:hover, &:focus {
				color: $white;
			}
		}

}

#menu-footer,
.copyright,
.shameless-plug {
	display: flex;
	justify-content: center;
	align-items: center;
}


	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}

	.shameless-plug {
		a {
			color: $alert-yellow;
			text-decoration: none;
			text-align: center;

			&:hover {
				text-decoration: underline;
			}
		}
	}