/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/


.flex-resume {
  width: 50%;
}

/*********************
PAGE STYLES
*********************/

// Contact Page

.page-id-10 {

	.t-2of3 {
    width: 60%;
    padding-right: 01.563rem;
	}

	.sidebar {
    width: 40%;
    padding-left: 01.563rem;
	}

}

.sidenav {
  height: 100px; // Keeps mobile layer from covering form.
}