/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

/*********************
HOMEPAGE STYLES
*********************/

.flex-resume {
  width: 70%;
}

.hentry header {
  width: 70%;
}

.goodtimes {
  width: 70%;
}

//Gallery 




/*********************
PAGE STYLES
*********************/

// Contact Page

.page-id-10 {

	.t-2of3 {
    width: 60%;
    padding-right: 01.563rem;
	}

	.sidebar {
    width: 40%;
    padding-left: 01.563rem;
	}

}


