/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

/*********************
HOMEPAGE STYLES
*********************/


  //Gallery
.home {
	.flex-container {
		max-width: 80%;
	}
}

/*********************
PAGE STYLES
*********************/

#logo {
	font-size: 4.375rem;
  }
   
#logo-descr {

font-size: 5.000rem;
width: 50%;
}


#inner-content {
	display: flex;
	justify-content: center;
	max-width: 1200px;
}

#logo-descr {
   
	margin: 0 auto;
}
// Blog posts

.single-post .header {
	//height: 300px;

}

/*********************
NAVIGATION STYLES
*********************/

//Move this entire section to change when mobile nav becomes desktop nav

.menu-sandwich {
	display: none; // Removes hamburger 
}

.sidenav {
	width: 500px !important;
	height: 100px; // Keeps mobile layer from covering form.
	background-color: transparent;
	padding-top: 5px;
	position: absolute; //change to 'fixed' to unstick nav.  Or, just delete since fixed is declared at base.
	
	.closebtn {
		display: none; 
	}

	li {
		line-height: 1.5;
		border-bottom: none;
	}
}


//End mobile adjustments.

.nav {
	border: 0;
	ul {
		background: $black;
		margin-top:0;
	}
	li {
		float: left;
		position: relative;

		a {
			border-bottom: 0;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				color: $white;
				text-decoration: underline;
			}
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			visibility: hidden;
			z-index: 8999;

			li {

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					border-bottom: 1px solid #ccc;

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {
					top:0;
					left:100%;
				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			visibility:visible;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */